@section scripts{
     <style type="text/css">
        .list
        {
            font:10pt Tahoma; color:#000;
            background:#9bbb59;
        }
        .head{background:#9bbb59; }
        .row{background:#e6eed5; }
        .boldtext{font-weight:bold}
 
        .editing { display: none; }
        .hiden{display: none;}
        .editing_input {display: block;}
 
    </style>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script type="text/javascript">
        $(function () {
            var API_URL = "http://localhost:41985/api/AddressBookApi/";

            function AddressBookEntry(Name, Address) {
                var self = this;
                self.Name = Name;
                self.Address = Address;
            }

            var AddressBookViewModel = function () {
                var self = this;
                self.Name = ko.observable();
                self.Address = ko.observable();
                self.AddressBookEntriesArray = ko.observableArray();

                /*
                self.AddressBookEntries = [{ name: "Dileepa", address: "Negombo" }, { name: "Knockout", address: "Javascript" }];
                // Editable data

                self.AddressBookEntriesArray = ko.observableArray([
                    new AddressBookEntry("asdsd", "sdsd")
                ]); */

                //Load address book entries  

                getAddressBookData(self);
                
                /*
                self.addAddressBookEntry = function () {
                    self.AddressBookEntriesArray.push(new AddressBookEntry("newName", "newAddress"));
                }; */

                self.addAddressBookEntry = function () {
                    //alert('self.Name=' + self.Name());
                    var jsondata = new AddressBookEntry(self.Name(), self.Address());
                    jsondata = ko.toJS(jsondata);
                    jsondata = JSON.stringify(jsondata);

                    $.ajax({
                        url: API_URL,
                        cache: false,
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: jsondata,
                        statusCode: {
                            200: function (data) {                                
                                self.AddressBookEntriesArray.push(new AddressBookEntry(data.Name, data.Address));
                                self.Name("");
                                self.Address("");
                            }
                        }
                    });
                    /*self.AddressBookEntriesArray.push(new AddressBookEntry("newName", "newAddress"));*/
                };
            }

            function getAddressBookData(_this) {
                $.get(
                        API_URL,
                        function (data) {
                            var results = ko.observableArray();
                            ko.mapping.fromJS(data, {}, results);
                            for (var i = 0; i < results().length; i++) {
                                _this.AddressBookEntriesArray.push(new AddressBookEntry(results()[i].Name(), results()[i].Address()));
                            };
                        },
                        'json'
                    )
            }

            // Activates knockout.js
            ko.applyBindings(new AddressBookViewModel());

        });
    </script>
}

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/"> Address Book using Web Api and Knockout </a></p>
        </div>
    </div>
</header>
<div id="body">
    <p> Address Book Entries </p>
      <table class="list" cellpadding="5" cellspacing="1">
        <thead>
            <tr class="head">
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
 
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: AddressBookEntriesArray">
            <tr><td><input data-bind="value:Name"/></td><td><input data-bind="value:Address"/></td></tr>
        </tbody>
        <tfoot>
            <form data-bind="submit: addAddressBookEntry">
                <tr class="row"><td><input data-bind="value:Name"/></td><td><input data-bind="value:Address"/></td></tr>
            </form>
        </tfoot>
    </table>

    <div id="buttonPanel">
        <button id="btnAdd" data-bind="click : addAddressBookEntry" > Add Entry </button>
    </div>
</div>
